// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-display {
	display: block;
	padding: 1em;
	margin: auto;
}

.left-display {
	display: inline-block;
}

.right-display {
	display: inline-block;
}

/*.customisation-display {
	border: 1px solid black;
}*/

.style-thumbnail {
	padding: 1em;
}

.print-thumbnail {
	padding: 1em;
}

button.product-page {
	margin: 1em 1em 1em 0em;
	font-size: 1.5em;
	width: 15%;
}

label.product-page {
	font-size: 1.3em;
	position: relative;
	top: 0.2em;
	margin: 0em 0em 0em 1em;
}

li {
	font-size: 1.5em;
}

.tab-content-container {
	margin: 1em 0em 0em 0em;
}
