<!-- <h1>New product</h1> -->

<div class="container">
	<div class="row">

	  <!--LEFT HALF-->
	  <div class="col-md-6 left-display">
	  	<img class="product-display" id="top-display" src="assets/top_bandeau_cup_floral_strap_floral.png">
	  	<br>
	  	<br>
	  	<img class="product-display" id="bottom-display" src="assets/bottom_bandeau_bottom_floral.png" class="img-responsive">
	  </div>

	  <!--RIGHT HALF-->
	  <div class="col-md-6 right-display">
		<button type="button" class="btn btn-primary product-page">Buy</button>
		<label class="price product-page">$ 149.00</label>
		<br>

		<div class="customisation-display">
			
			<!--TABS FOR STYLE AND PRINT-->			
			<div role="tabpanel">
				<ul class="nav nav-tabs nav-justified" id="customiser-tabs" role="tablist">
			  		<li role="presentation" class="active" id="styles-tab"><a href="#styles-display" aria-controls="styles-display" role="tab" data-toggle="tab">Styles</a></li>
			  		<li role="presentation" id="prints-tab"><a href="#prints-display" aria-controls="prints-display" role="tab" data-toggle="tab">Prints</a></li>
				</ul>
			</div>

			<div role="tab-content" class="tab-content-container">
				<!--STYLES DISPLAY-->
				<div role="tabpanel" class="tab-pane active" id="styles-display">
					<label for="style-tops" class="product-page">Tops</label>
					<br>
					<img class="style-thumbnail top style bandeau" id="top-style-bandeau" src="assets/top_style_bandeau_thumb.png">
					<img class="style-thumbnail top style triangle" id="top-style-triangle" src="assets/top_style_triangle_thumb.png">
					<br>
					<label for="style-bottoms" class="product-page">Bottoms</label>
					<br>
					<img class="style-thumbnail bottom style bandeau" id="bottom-style-bandeau" src="assets/bottom_style_bandeau_thumb.png">
					<img class="style-thumbnail bottom style triangle" id="bottom-style-triangle" src="assets/bottom_style_triangle_thumb.png">
				</div>

				<!--PRINTS DISPLAY-->
				<div role="tabpanel" class="tab-pane hide" id="prints-display">
					<!--DROPDOWN TO SELECT PART-->
					<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					    Select part
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cup</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Strap</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bottom</a></li>
					  </ul>
					</div>
					<!--PRINT THUMBNAILS-->
					<label class="product-page">Classic</label>
					<br>
					<img class="print-thumbnail classic print floral" id="print-floral" src="assets/print_floral.png">
					<img class="print-thumbnail classic print geo" id="print-geo" src="assets/print_geo.png">
					<img class="print-thumbnail classic print retro" id="print-retro" src="assets/print_retro.png">
					<br>
					<label class="product-page">Modern</label>
					<br>
					<img class="print-thumbnail modern print pineapple" id="print-pineapple" src="assets/print_pineapple.png">
					<img class="print-thumbnail modern print tropical" id="print-tropical" src="assets/print_tropical.png">
					<img class="print-thumbnail modern print ice" id="print-ice" src="assets/print_ice.png">
				</div>
			</div>
		<!-- <script>
		// 	$(document).ready(function () {
		// 		$('#customiser-tabs a').click(function (e) {
		// 		  e.preventDefault();
		// 		  $('#customiser-tabs a[href="#styles-display"]').tab('show'); // Select tab by name
		// 		  $('#customiser-tabs a[href="#prints-display"]').tab('show'); // Select tab by name
		// 		});
		// 	    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		// 		  e.target; // newly activated tab
		// 		  e.relatedTarget; // previous active tab
		// 		});
		// 	});
		// </script>-->

		<script>
				$('#styles-tab').on('click', function() {
					$('#styles-display').toggleClass('hide');
					$('#prints-display').toggleClass('hide');
				});
				$('#prints-tab').on('click', function() {
					$('#prints-display').toggleClass('hide');
					$('#styles-display').toggleClass('hide');
				});
		</script>

		<script>
				$(function(){
				    $(".dropdown-menu").on('click', 'li a', function(){
				      $(".btn.dropdown-toggle:first-child").text($(this).text());
				      $(".btn.dropdown-toggle:first-child").val($(this).text());
				   });
				});
		</script>

		</div>
	  </div>
	</div>
</div>

<!--<%= render 'form' %>

<%= link_to 'Back', products_path %>-->
