<!-- <h1>New product</h1> -->

<div class="container">
	<div class="row">
	  <div class="col-md-6 left-display">
	  	<img class="product-display" id="top-display" src="http://placehold.it/300x250">
	  	<img class="product-display" id="bottom-display" src="http://placehold.it/300x150">
	  </div>

	  <div class="col-md-6 right-display">
		<button type="button" class="btn btn-primary">Buy</button>
		<label class="price">$ 149.00</label>
		<br>

		<div class="dropdown">
			<li role="presentation" class="dropdown-header">Select part</li>
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    Select part
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cup</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Strap</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bottom</a></li>
		  </ul>
		</div>

	  </div>
	</div>
</div>

<!--<%= render 'form' %>

<%= link_to 'Back', products_path %>-->
