<!-- <h1>New product</h1> -->

<div class="container">
	<div class="row">

	  <!--LEFT HALF-->
	  <div class="col-md-6 left-display">
	  	<img class="product-display" id="top-display" src="http://placehold.it/300x250">
	  	<img class="product-display" id="bottom-display" src="http://placehold.it/300x150">
	  </div>

	  <!--RIGHT HALF-->
	  <div class="col-md-6 right-display">
		<button type="button" class="btn btn-primary">Buy</button>
		<label class="price">$ 149.00</label>
		<br>

		<div class="customisation-display">
			
			<!--TABS FOR STYLE AND PRINT-->			
			<div role="tabpanel">
				<ul class="nav nav-tabs nav-justified" id="customiser-tabs" role="tablist">
			  		<li role="presentation" class="active" id="styles-tab"><a href="#styles-display" aria-controls="styles-display" role="tab" data-toggle="tab">Styles</a></li>
			  		<li role="presentation" id="prints-tab"><a href="#prints-display" aria-controls="prints-display" role="tab" data-toggle="tab">Prints</a></li>
				</ul>
			</div>

			<div role="tab-content">
				<!--STYLES DISPLAY-->
				<div role="tabpanel" class="tab-pane active" id="styles-display">
					<label for="style-tops">Tops</label>
					<br>
					<img class="style-thumbnail" src="http://placehold.it/180x150">
					<img class="style-thumbnail" src="http://placehold.it/180x150">
					<br>
					<label for="style-bottoms">Bottoms</label>
					<br>
					<img class="style-thumbnail" src="http://placehold.it/180x90">
					<img class="style-thumbnail" src="http://placehold.it/180x90">
				</div>

				<!--PRINTS DISPLAY-->
				<div role="tabpanel" class="tab-pane" id="prints-display">
					<!--DROPDOWN TO SELECT PART-->
					<div class="dropdown">
						<li role="presentation" class="dropdown-header">Select part</li>
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					    Select part
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cup</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Strap</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bottom</a></li>
					  </ul>
					</div>
					<!--PRINT THUMBNAILS-->
					<label>Modern</label>
					<br>
					<img class="print-thumbnail" src="http://placehold.it/150x150">
					<img class="print-thumbnail" src="http://placehold.it/150x150">
					<img class="print-thumbnail" src="http://placehold.it/150x150">
					<br>
					<label>Classic</label>
					<br>
					<img class="print-thumbnail" src="http://placehold.it/150x150">
					<img class="print-thumbnail" src="http://placehold.it/150x150">
					<img class="print-thumbnail" src="http://placehold.it/150x150">
				</div>
			</div>
		<script>
			$(document).ready(function () {
				$('#customiser-tabs a').click(function (e) {
				  e.preventDefault();
				  $('#customiser-tabs a[href="#styles-display"]').tab('show'); // Select tab by name
				  $('#customiser-tabs a[href="#prints-display"]').tab('show'); // Select tab by name
				});
			    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				  e.target; // newly activated tab
				  e.relatedTarget; // previous active tab
				});
			});


		</script>

				<!--// $('#styles-tab').on('click', function() {
				// 	$('#styles-display').toggleClass('hide');
				// 	$('#prints-display').toggleClass('hide');
				// });
				// $('#prints-tab').on('click', function() {
				// 	$('#prints-display').toggleClass('hide');
				// 	$('#styles-display').toggleClass('hide');
				// });-->

		</div>
	  </div>
	</div>
</div>

<!--<%= render 'form' %>

<%= link_to 'Back', products_path %>-->
