<!DOCTYPE html>
<html>
<head>
  <title>Kaleidos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/top_triangle_cup_geo_strap_geo.png">
</head>
<body>
<div class="page-header">
  <img class="logo img-responsive" src="http://placehold.it/80x50">
  <h1>Design your own bikini</h1>
</div>
<%= yield %>

</body>
</html>
